/* FONT IMPORT START */
body, button, input, textarea {
    font-family: "Poppins", sans-serif;
    font-weight: 400; 
}
/* FONT IMPORT END */
/* BASE STYLES START */
body {
    color: #fff;
    margin: 0;
    overflow-x: hidden;
    background: linear-gradient(-45deg, #100f24, #232238, #282846, #1e1e2f);
    animation: gradientBG 15s ease infinite;
    background-attachment: fixed; 
}

@keyframes gradientBG {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}

html {
    scroll-behavior: smooth;
}


html, body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}
/* BASE STYLES END */

/* PARALLAX SECTION STYLES START */
.parallax-section {
    min-height: 100vh;
    position: relative;
    padding: 5% 10%;
}

.parallax-layer {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-size: cover;
    background-position: center;
}

@media (max-width: 768px) {
    .parallax-layer {
        background-attachment: scroll;
    }
}
/* PARALLAX SECTION STYLES END */

/* NAVBAR STYLES START */
.navbar {
    background-color: #100f24;
    color: #fff;
    display: flex;
    justify-content: center; /* Center the navbar content */
    padding: 1rem;
    width: 100%;
    background-color: transparent;
    z-index: 10;
}

.navbar-nav {
    display: flex;
    justify-content: center; /* Center the navbar links */
}

.nav-link {
    color: #fff;
    text-decoration: none;
    margin: 0 10px; /* Add spacing between links */
    transition: color 0.3s ease;
}

.nav-link:hover,
.nav-link:focus {
    color: #f987d6;
}

@media (max-width: 768px) {
    .navbar-nav {
        flex-direction: column; /* Stack links vertically on mobile */
        align-items: center;
    }

    .nav-link {
        margin: 5px 0; /* Space between links on mobile */
    }
}/* NAVBAR STYLES END */

/* INTRO SECTION STYLES START */
#main-intro {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    height: 100vh;
    padding-left: 20%;
}

#main-intro .content-layer {
    max-width: 1200px;
    width: 100%;
}

.subtitle {
    color: #f987d6;
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.title {
    font-size: 3rem;
    font-weight: 600;
}

.intro-text {
    color: #ccc;
    font-weight: 200; 
    font-size: 1.25rem;
    max-width: 600px;
}

#moving-txt {
    color: #f987d6;
    white-space: nowrap;
}

@media (max-width: 768px) {
    #main-intro {
        padding-left: 5%;
    }

    .title {
        font-size: 5vw;
    }

    .intro-text {
        font-size: 4vw;
    }
}
/* INTRO SECTION STYLES END */

/* ABOUT PAGE START */
#about-me .content-layer.about {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5% 10%; 
    color: #fff;
}

.about-text {
    max-width: 60%;
}

.about-text p {
    font-size: 0.95rem;
    margin-bottom: 1rem;
    line-height: 1.5;
    color: #fff;
}

.about-image img {
    max-width: 85%;
    height: auto;
    margin-left: 5%;
}

.about-text strong {
    color: #c3b1e1;
    font-weight: 600;
}

.skills p {
    display: flex;
    align-items: center;
    font-size: 0.95rem;
    color: #fff;
    margin-bottom: 0.5rem;
}

.v-icon {
    color: #c3b1e1;
    margin-right: 10px;
    font-size: 1.2rem;
    font-weight: bold;
}

.about-image img {
    border-radius: 10%;
    width: 200px;
    height: auto;
    margin-right: 5%;
}

.about-image img {
    box-shadow: 0 4px 8px rgba(0,0,0,0.1);
}

@media (max-width: 768px) {
    #about-me .content-layer.about {
        flex-direction: column;
        text-align: center;
    }

    .about-text {
        max-width: 100%;
        order: 2;
    }

    .about-image {
        max-width: 100%;
        order: 1;
        margin-bottom: 2rem;
    }

    .about-image img {
        max-width: 80%;
        margin-left: 0;
        margin: auto;
    }
}
/* ABOUT PAGE END */

/* PORTFOLIO STYLES START */
#portfolio {
    padding: 5% 10%;
    color: #fff;
}

.portfolio-item {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 2rem;
    border: 1px solid rgba(255, 255, 255, 0.2);
    border-radius: 15px;
    margin-bottom: 2rem;
    transition: transform 0.3s ease-in-out;
    background-color: #19182d;
}

.portfolio-item:hover {
    transform: scale(1.05);
}

.portfolio-content {
    flex: 1;
    padding-right: 2rem;
}

.portfolio-content h3 {
    margin-bottom: 1rem;
    font-size: 1.5rem;
}

.portfolio-content p {
    margin-bottom: 1rem;
    font-size: 1rem;
}

.portfolio-buttons {
    margin-top: 1rem;
}

.portfolio-buttons .btn {
    margin-right: 1rem;
    width: 8rem;
    pointer-events: auto;
    z-index: 10;
    position: relative;
}

.portfolio-image img {
    border-radius: 2%; 
    width: 250px; 
    height: 250px; 
    object-fit: cover; 
    transition: transform 0.3s ease-in-out; 
}

.portfolio-item:hover .portfolio-image img {
    transform: scale(1.2); 
}

@media (max-width: 768px) {
    .portfolio-item {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .portfolio-item:hover .portfolio-image img {
        transform: scale(1.1); 
    }

    .portfolio-image img {
        width: 85%;
        height: auto;
        margin-bottom: 1rem;
    }

    .portfolio-content {
        padding-right: 0;
        margin-bottom: 1rem;
        width: 100%;
    }

    .portfolio-buttons .btn {
        width: auto;
        padding: 10px 20px;
    }
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 0.5rem;
    margin-top: 1rem;
}

.skill-tag {
    background-color: #232238;
    color: #fff;
    padding: 0.5rem 1rem;
    border-radius: 20px;
    font-size: 0.875rem;
    white-space: nowrap;
    transition: background-color 0.3s, color 0.3s;
}

.skill-tag:hover {
    background-color: #555;
    color: #fff;
}

.portfolio-buttons .btn {
    margin-top: 1rem;
    pointer-events: auto;
    z-index: 10;
    position: relative;
    background-color: transparent;
    border: 1px solid #fff;
    color: #fff;
    transition: background-color 0.3s, color 0.3s;
}

.portfolio-buttons .btn:hover {
    background-color: #fff;
    color: #000;
}

@media (max-width: 768px) {
    .skills {
        justify-content: center;
    }

    .skill-tag {
        padding: 0.4rem 0.8rem;
    }

    .portfolio-buttons .btn {
        margin-bottom: 0.5rem;
    }
}
/* PORTFOLIO STYLES END */

/* FOOTER STYLES START */
.simple-footer {
    background-color: transparent; /* Ensure the footer background is transparent */
    padding: 20px 0;
    margin-top: 20px;
    text-align: center;
    position: relative;
    font-size: 1rem;
}

.simple-footer::before {
    content: '';
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 50px; /* Adjust the width of the line */
    height: 2px; /* Adjust the height of the line */
    background-color: #f987d6; /* Line color */
}

.text-secondary {
    color: #f987d6;
    font-size: 1rem;
    font-weight: 500; /* Slightly bolder text */
}
/* FOOTER STYLES START */
/* GENERAL ICON STYLES END */

/* BLOBS STYLES START */
.blob {
    position: absolute;
    width: 200px;
    height: 200px;
    background-color: #8d5cff; /* Complimentary color 1 */
    border-radius: 50%;
    filter: blur(75px);
    opacity: 0.4;
    z-index: -1;
}

.blob.blob2 {
    background-color: #3995ff; /* Complimentary color 2 */
}

.blob-container {
    position: fixed;
    width: 100%;
    height: 100vh;
    top: 0;
    left: 0;
    pointer-events: none; /* Allow interactions through the blobs */
}
/* BLOBS STYLES END */
